:root {
	--bg-color: #F5F7F9;
	--bg-color-pro-card-price: #161A34;
    --bg-color-theme-button: #66FF96;
}

body {
    font-family: Cabin, Inter;
    background: var(--bg-color);
}

                    /* ------------- Header ------------- */

.header {
    display: flex;
    margin: 40px 52px 145px;
    padding: 4.5px;
    justify-content: space-between;
    color: #0E0F13; 
}

.header-logo-text {
    display: flex;
    gap: 18px;
    align-items: center;
}

 .header-logo-text h3 {
    padding: 10px 0px;
    font-size: 28px;
    font-weight: 500;
    line-height: 28px; 
}

.header-logo-text img {
    height: 40px;
    border-radius: 50px;
}

nav {
    display: flex;
    align-items: center;

}

.navigation-list-items {
    display: flex;
    justify-self: center;
    gap: 56px;
}

.navigation-list-item {
    color: #0E0F13
    
}

.navigation-list-items a {
    text-decoration: none;
    text-align: center;
    font-size: 20px; 
    font-weight: 400;
    line-height: 25px;
}

.navigation-list-items a.active {
    color: #425DF8;
}

.header-buttons-container {
    display: flex;
    gap: 24px;
}

.sign-in-button {
    padding: 18px 22px;
    border-radius: 8px;
    border: 1px solid #DADADA;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px; 
    letter-spacing: 0.72px;
    text-transform: uppercase;
}

.sign-up-button {
    padding: 18px 22px;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
    color: #F6FDFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px; 
    letter-spacing: 0.72px;
    text-transform: uppercase;
}

#change-theme-button {
    padding: 18px 22px;
    border-radius: 8px;
    background: var(--bg-color-theme-button);
    border: 1px solid #DADADA;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px; 
    letter-spacing: 0.72px;
}

                    /* ------------- Main ------------- */

.main-wrapper {
    color: #0E0F13;
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin: 0px 52px;
} 

.main-title-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    font-size: 64px;
    font-weight: 500;
    line-height: 64px;
}

.under-title-text { 
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px; 
}

.offer-cards-section {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.offer-card {
    padding: 56px;
    flex-direction: column;
    justify-content: space-between;
    height: 789px;
    border-radius: 24px;
    border: 1px solid #DADADA;
    background: #FDFDFD;
    display: flex;
    width: 416px; 
    justify-content: space-between;
    align-items: center;
}

.offer-card-title {
    display: flex;
    flex-direction: column;
    width: 304px;
    gap: 27px;
}

.offer-card-title-paragraph  {
    color: #7F828A;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 27.5px;
}

.offer-card-title-custom {
    color: #0E0F15;
    text-align: right;
    font-size: 64px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -1.28px;
    align-self: center;
}

.offer-card-title-list-container {
    display: flex;
    flex-direction: column;
    gap: 27px;
}
 

.offer-card-title-price {
    display: flex;
    justify-content: center;
    gap: 16px
}

.offer-card-price {
    color: #0E0F15;
    text-align: right;
    font-size: 64px;
    font-weight: 500;
    line-height: 80px; 
    letter-spacing: -2.56px;
}

.offer-card-period {
    align-self: center;
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px; 
    text-transform: uppercase;
}

.offer-card.starter {
    align-self: self-end;
}

.offer-card.enterprice {
    align-self: self-end;
}

.offer-card h2 {
    color: #0E0F15;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 37.5px 
}

.offer-card.active {
    height: 817px;
    border: 1px solid #161A34;
    background: var(--bg-color-pro-card-price);
} 

.offer-card.active h2 {
    color: #F6FDFF;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 37.5px;
}

.offer-card.active p {
    color: #F6FDFF;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 27.5px;
}

.offer-card.active ul {
    color: #F6FDFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 27.5px; 
    text-transform: capitalize;
}

.offer-card.active .offer-card-price {
    color: #F6FDFF;
    text-align: right;
    font-size: 64px;
    font-weight: 500;
    line-height: 80px; 
    letter-spacing: -2.56px;
}

.offer-card.active .offer-card-period {
    color: #F6FDFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
}

.offer-card-list {
    
    list-style-image: url("/img/checkmark.svg"); 
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 27.5px ;
    text-transform: capitalize;
   
}

.offer-card-list li {
    padding-left: 16px;
    margin: 16px 16px 0px;
    
}

.offer-card-link {
    text-decoration: none;
    display: flex;
    padding: 18px 22px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
    color: #F6FDFF;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
    text-transform: uppercase;
}

                    /* ------------- Footer ------------- */

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 1px 52px 0;
    padding: 16px; 
    align-items: center;
}

.footer-line {
    margin-top: 196px;
    border: 1px solid #0E0F13;
}

.footer span {
    color: #7F828A;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px; 
}

.footer-logo-text {
    display: flex;
    gap: 16px;
    align-items: center;
}

.footer-logo-text img {
    height: 24px;
}
